 <!-- PDF -->
<section id="botones-pdf">
  <div id="boton-pdf-1">
    <button id="abrir-pdf-1" class="btn btn-outline-info mt-3">Requerimientos</button>
  </div>
  <!-- <div id="boton-pdf-2">
    <button id="abrir-pdf-2" class="btn btn-primary mt-3">Abrir PDF ventana modal modulo 4</button>
  </div> -->
</section>