<!-- section texto columnas grill desaparece en pantalla pequeña -->
          <section id="description" class="seccion_principal container text-left d-none d-sm-block pt-5 my-4"">
            <div class="row">
              <div class="col-12 col-sm-6">
                <hr class="d-lg-none d-md-none d-sm-none d-sm-block my-4" />
                <!-- d-none , hace que el contenido desaparezca en mobile -->
                <img id="capitan-gira" class="w-100" src="/img/captain-america.webp" alt="#" />
              </div>
              <div class="col-12 col-sm-6">
                <h1 class="text-center text-sm-start pt-4 ">
                  MARVEL <span class="d-block"></span>
                </h1>          
                <h2 id="iconos"><i class="fa-solid fa-plane"></i></h2>
                <div id="botones-tooltip" class="d-flex flex-wrap seccion_principal_botones justify-content-lg-start justify-content-center mb-4">
      
                  <button id="enviarCorreo" type="button" class="btn btn-outline-info text-nowrap"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Presiona para enviar a tu correo">
                    Enviar por correo
                  </button>
      
                  <button type="button" class="btn btn-outline-info segundo ml-3 text-nowrap" data-bs-toggle="tooltip"
                    data-bs-placement="right" title="Agrega esta receta a tus favoritos">
                    Añadir a favoritos
                  </button>
                  
                </div>
              </div>
            </div>
          </section>     