<!-- formulario contact -->
          <section id="form-contact">
          <h2 id="contact" class="display-4 text-center font-weight-bold ">CONTACT</h2>
          <hr>
          <form id="form"
            class="container expand-lg text-center text-light p-4"
          >
         
            <div class="mb-3">           
              <div id="primer-form" class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Nombre</label>
                <textarea class="form-contact" id="exampleFormControlTextarea1" placeholder=" ingresa tu nombre" rows="3"></textarea>
              </div> 
              <div id="segundo-form" class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Correo</label>
                <textarea class="form-contact" id="exampleFormControlTextarea1" placeholder=" ingresa tu correo" rows="3"></textarea>
              </div>
              <div id="tercer-form"  class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                <textarea class="form-contact" id="exampleFormControlTextarea1" placeholder=" ingresa tu Mensaje"="3"></textarea>
              </div>   
            </div>            
            <span>
              <button id="boton-form-contact" type="button" class="btn btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tooltip on right">
                enviar
              </button>
            </span>

          </form>
          </section>