 <!-- grid & card -->
          <section id="Quotes" class="container text-center my-5 pt-3">      
            <h2 id="titulo-card" class="display-4 text-center font-weight-bold ">“Empowering Superhero Quotes: Harness Your Inner Strength”</h2>
            <hr>
            <div class="card-deck"></div>
            <div class="row px-5">      
              <!-- primera -->
              <div class="col-sm-3 col-12 px-5 mb-4">
                <!-- definir cuantas tarjetas se veran en el ancho de la pagina, 3 de 12, se veran 4 tarjetas -->
                <div
                  class="card"
                  style="width: 18rem"
                >
                  <!-- ancho y alto fijo tarjeta -->
                  <img
                    src="/img/superman.jpg"
                    class="card-img-top"
                    alt="cupon-1"
                  />
                  <div class="card-body text-start">
                    <!-- texto alineado izquierda -->
                    <h5 class="card-title">
                      Translate to spanish
                    </h5>
                    <p class="card-text">
                      “Eres mucho más fuerte de lo que crees. Confía en mí.” 
                    </p>            
                  </div>          
                </div>
              </div>
              <!-- segunda -->
              <div class="col-sm-3 col-12 px-5 mb-4">
                <div
                  class="card"
                  style="width: 18rem"
                >
                  <img
                    src="/img/thor.jpg"
                    class="card-img-top"
                    alt="cupon-2"
                  />
                  <div class="card-body text-start">
                    <h5 class="card-title">
                      Translate to spanish
                    </h5>            
                    <p class="card-text">
                      “Elijo correr hacia mis problemas, y no huir de ellos. Porque eso es lo que hacen los héroes.”
                    </p>
                  </div>         
                </div>
              </div>
              <!-- tercera -->
              <div class="col-sm-3 col-12 px-5 mb-4">
                <div
                  class="card"
                  style="width: 18rem"
                >
                  <img
                    src="/img/flash.jpg"
                    class="card-img-top"
                    alt="cupon-3"
                  />
                  <div class="card-body text-start">
                    <h5 class="card-title">
                      Translate to spanish
                    </h5>
                    <p class="card-text">
                      “La vida no nos da un propósito. Nosotros le damos un propósito a la vida.”
                    </p>
                  </div>          
                </div>
              </div>   
                <!-- cuarta -->
              <div class="col-sm-3 col-12 px-5 mb-4">
                <div
                  class="card"
                  style="width: 18rem"
                >
                  <img
                    src="/img/black-phanter.jpg"
                    class="card-img-top"
                    alt="cupon-3"
                  />
                  <div class="card-body text-start">
                    <h5 class="card-title">
                      Translate to spanish
                    </h5>
                    <p class="card-text">
                      “En tiempos de crisis, los sabios construyen puentes, mientras que los tontos construyen barreras.”
                    </p>
                  </div>          
                </div>
              </div>         
            </div>
          </section>   