<nav id="menu" class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark">
      <!-- expande nav, fijado se pone encima de la section de abajo, se elimina el bg-color para darle color con css  -->
      <div class="container-fluid px-4">
        <!-- container-fluid ocupa todo el ancho de la pantalla -->
        <a href="#">
          <img class="logo-navbar" src="/img/favicon_ruta.png" alt="logo-navbar">
        </a>
        <a id="titulo-navbar"
                class="nav-link text-light"
                aria-current="page"
                href="../documents/prueba .pdf" target="_blank"
                >requerimientos -</a
        >
        <!-- <a id="titulo-navbar"
                class="nav-link text-light"
                aria-current="page"
                href="/M7-22-Prueba - Acceso a datos en aplicaciones Node.pdf" target="_blank"
                >- Prueba Modulo 7</a
        > -->
              
        <!-- tamaño icono -->
        <!--  BOTON hamburguesa MOBILE tres lineas apiladas, se expande al hacer click -->
        <!-- quite bs de data-toggle para compatible jquery con bootstrap version -->
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-toggle="collapse" 
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div
          class="collapse navbar-collapse"
          id="navbarSupportedContent"
        >        
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-5">
            <!--alineacion de nav a la derecha y formato (f-5 tengo duda)???-->
            <li class="nav-item">
              <a id="titulo-navbar"
                class="nav-link text-light"
                aria-current="page"
                href="animales.html" target="_blank"
                >Animales</a
            >    <!--ruta para desplazar id section-->           
            </li>
            <li class="nav-item">
              <a id="titulo-navbar"
                class="nav-link text-light"
                aria-current="page"
                href="videos.html" target="_blank"
                >videos</a
            >    <!--ruta para desplazar id section-->           
            </li>
            <li class="nav-item active">
              <!--activado-->
              <a id="titulo-navbar"
                class="nav-link text-light"
                aria-current="page"
                href="pokemon.html" target="_blank"
                >Pokemon</a
              >
              <!--con target blank abre en otra pagina y texto color claro-->
            </li>         
            <li class="nav-item">
              <!--activado-->
              <a id="titulo-navbar"
                class="nav-link text-light"
                aria-current="page"
                href="https://www.superheroapi.com/ids.html" target="_blank"
                >Lista Super Hero</a
              >
              <!--con target blank abre en otra pagina y texto color claro-->
            </li>
            <li class="nav-item">            
              <a id="titulo-navbar"
                class="nav-link text-light"
                href="#description"
                >Description</a
              >              
            </li>
            <li class="nav-item">
              <a id="titulo-navbar"
                class="nav-link text-light"
                href="#Quotes" 
                >Quotes</a
              >             
            </li>          
            <li class="nav-item">
              <a id="titulo-navbar"
                class="nav-link text-light"
                href="#contact"
                >contact</a
              >              
            </li>          
          </ul>
        </div>
      </div>
    </nav>