<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />    
    <!-- los CDN enlace remoto traen datos estáticos o fijos que no cambian.  -->
    <!-- CDN Bootstrap -->    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- CDN JQUERY -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
     <!-- CDN kit íconos FontAwesome -->
    <script
     src="https://kit.fontawesome.com/168d9f7fae.js"
     crossorigin="anonymous"
    ></script>
     <!-- CDN fuente letra -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap" rel="stylesheet">
     <!-- Metadatos para SEO -->
    <meta name="author" content="Jonathan Viera"> <!-- Nombre del autor del documento -->
    <meta name="description" content="Fronted, backend y Base de datos"> <!-- Descripción del contenido del sitio -->
    <meta name="keywords" content="Modelo Vista Controlador"> <!-- Palabras clave para motores de búsqueda -->
    <!-- titulo navegador --> 
    <title>:: Banco Solar C.A ::</title>
    <!-- Enlace local favicon navegador -->
    <link rel="shortcut icon" href="/img/favicon_ruta.png" type="favicon.png">
     <!-- Enlace local estilo CSS -->
    <link rel="stylesheet" href="/css/principal/alerta-bootstrap.css" />
    <link rel="stylesheet" href="/css/principal/body.css" />
    <link rel="stylesheet" href="/css/principal/boton-api.css" />
    <link rel="stylesheet" href="/css/principal/boton-form-contact.css" />
    <link rel="stylesheet" href="/css/principal/botones-pdf.css" />
    <link rel="stylesheet" href="/css/principal/botones-tooltip.css" />
    <link rel="stylesheet" href="/css/principal/card.css" />
    <link rel="stylesheet" href="/css/principal/carousel-color-global.css" />
    <link rel="stylesheet" href="/css/principal/footer.css" />
    <link rel="stylesheet" href="/css/principal/form.css" />
    <link rel="stylesheet" href="/css/principal/navbar.css" />
    <link rel="stylesheet" href="/css/principal/tables.css" />                
  </head>
  <body class="p-5">
    {{> partials/menu}} 
    {{> partials/banco}}
    {{> partials/api-hero}}
    {{> partials/botones-pdf}}
    {{> partials/carousel}} 
    {{> partials/colum-grill}}
    {{> partials/grid-card}}
    {{> partials/form-contact}}
    {{> partials/footer}}

    <!-- Cuerpo de la página -->
    <div id="body-content">
      {{{body}}}
    </div>   
   
    <section id="cdn-modulos">
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>    
      <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
      ></script>
      <!-- script bootstrap -->
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
      ></script> 
      <!-- script canvas -->
      <script src=" https://canvasjs.com/assets/script/jquery.canvasjs.min.js "></script>
      <script src="https://momentjs.com/downloads/moment.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <!-- script js -->
      <script src="/js/principal/alert-tooltip.js"></script>
      <script src="/js/principal/api-principal.js"></script>
      <script src="/js/principal/boton-pdf.js"></script>
      <script src="/js/principal/cambio-color-titulo-banco.js"></script>
      <script src="/js/principal/card.js"></script>
      <script src="/js/principal/gira-imagen.js"></script>  
      <script src="/js/principal/navbar.js"></script>  
      <script src="/js/principal/parpadea-fadetoggle.js"></script>
      <script src="/js/principal/banco.js"></script>

    </section>    
  </body>
</html>