/* Estilos para el contenedor de la imagen previa */
#preview {
  height: 200px;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
}

#preview img {
  width: 100%; /* Ajusta el tamaño de la imagen al contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilos para la tabla de participantes */
#Animales {
  height: 100%;
  background: #f0f0f0;
  display: flex; /* Alinea las imágenes una al lado de la otra */
  flex-wrap: wrap; /* Permite que las imágenes pasen a la siguiente línea si no hay suficiente espacio */
  justify-content: space-around; /* Distribuye el espacio alrededor de las imágenes de manera uniforme */
}

#Animales div {
  width: 30%; /* Ajusta el tamaño de los divs */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Animales div img {
  width: 100%; /* Ajusta el tamaño de las imágenes */
  height: 150px; /* Establece una altura fija para las imágenes */
  object-fit: contain; /* Asegura que las imágenes se redimensionen correctamente */
}

#Animales div audio {
  width: 100%; /* Ajusta el tamaño del audio */
}

.participante {
  max-width: 30%;
}

/* Estilos para la ventana modal */
.modal-dialog {
  max-width: 20% !important; /* Cambiar el ancho máximo de la modal */
}

.modal-content {
  background-color: rgba(0,0,0,0.4); /* Cambiar el color de fondo de la modal al mismo que la tabla de investigación */
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff; /* color texto blanco */
}

.modal-body img {
  max-width: 100%;
  height: auto;
}

.modal-body audio {
  width: 100%;
  margin-top: 10px; /* Añadir margen superior para separar el audio de la imagen */
}

.modal-body p {
  margin-top: 10px; /* Añadir margen superior para separar cada párrafo */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
