/* Reset de estilos para todos los elementos de CSS */
* {
    margin: 0; /*margen*/
    padding: 0; /*espacio entre elementos*/
    border: 0;    /*borde*/
}
body {
    background-image: url("../img/banco_fondo.jpg");    
  } 
/* Estilo section body hero */
#body-hero {           
    padding-top: 100px; /* Ajuste para evitar que el navbar se superponga al contenido */
    color: black;
} 

 
  