/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0         ;
}

/* Estilos para el cuerpo de la página */
body {
  background-image: url("../imgs/fondo-leon.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 100px;
}
 
  