:root /*  - en raiz = html pones colores globales con variable para reutilizar en todo el CSS */ 
{
  --gray: #373a3c;
  --whit-light: #dddddd;
  --black: #000;
  --white: #fff;
  --red: #dc3545;
}

/* CARRUSEL cambiar barras por puntos */
.carousel-indicators [data-bs-target]
{
  border-radius: 50%;
  width: 8px; /* Ajusta el tamaño de los puntos */
  height: 8px;
  background-color: var(--white);
  border: 1px solid var(--black);
  opacity: 0.5; /* Opacidad de los puntos inactivos */
  transition: opacity 0.6s ease;
}
/* CARRUSEL tamaño */
#carusel {
    margin-top: 150px;
    margin-bottom: 150px;
    min-width: 300px;
    max-width: 300px;   
    min-height: 200px;
    max-height: 200px;
}
  