#banco {
    padding: 10px;    
    border-radius: 10px;
    font-size: 12px;
  }
  /* input tabla formulario*/
.form-control {
    background: #444444;
    color: #888888;
}
/* titulo form contact */
#contact {
    font-size: 40px; /* Tamaño del texto */
    }
/* label form contact */
.form-label {
    color: #888888;
}    
 /* input form contact */
.form-contact {
    min-width: 900px;
    max-height: 30px;
    background: #444444;
    color: #888888;    
}
/* hero form tamaño alto respuesta */
#respuesta-form {    
    margin-bottom: 10px; /* Reducir el margen inferior del formulario */       
}
/* hero form tamaño imagen */
.header_img{
    width: 100px;
}    